:root {
  --red-glow: #ff5470;
  --dark-blue-two: #386150;
  --dark-blue: #0E3654;
  --dark-green: #2b6e91;

  // --dark-blue: #3A606E;
  // --dark-green: #3A455B;

  // --dark-blue: #386150;
  // --dark-green: #3A606E;
  --second-green:  #7EB09B;
  --bezier: cubic-bezier(0.5, 0, 0.5, 1);
  --desktop-nav-height: 9.2rem;
  --mobile-nav-height: 5.5rem;
}
